@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

a {
  color: #218838;
  text-decoration: none;
}

/*SECTION TXT*/
.section-txt,
.section-txt * {
  box-sizing: border-box;
}
.section-txt {
  background: #ffffff;
  height: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 30px;
}

.formas_pagamento {
  color: #218838;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding-top: 18px;
}


/*FORMAS DE PAGAMENTO*/

/* Estilo para o container dos cards */
.card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  margin-bottom: 50px;
}

/* Estilo para cada card */
.card {
  border: 1px solid #218838;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #218838;
}

li {
  list-style-type: none;
}

/* Tamanho fixo para o card de adicionar nova forma de pagamento */
#adicionar-card {
  max-height: 367px; /* Tamanho fixo para manter o card consistente */
}

/* Estilo para o h2 */
#adicionar-card h2 {
  text-align: center;
  color: #218838;
  margin-bottom: 20px; /* Espaçamento entre o título e os radio buttons */
}


/* Estilo do formulário */
#adicionar-pagamento-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

/* Estilo para os formulários */
.pagamento-form {
  display: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilo para os labels e inputs */
.pagamento-form label {
  color: #218838;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.pagamento-form input {
  border: 1px solid #218838;
  padding: 8px;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

#tipo-pagamento-form {
  margin-top: 20px;
}

/* Estilo para alinhar CVV e Validade lado a lado */
.form-row {
  display: flex;
  gap: 10px;
}

.form-group {
  flex: 1; /* Deixa os dois campos (validade e CVV) com a mesma largura */
}

/* Estilo do botão */
#adicionar-pagamento-btn {
  background-color: #218838;
  color: #ABD94A;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

#adicionar-pagamento-btn:hover {
  background-color: #4CAF50;
}

/* Estilo para os itens da lista de formas de pagamento */
.forma-pagamento-adicionada {
  border: 1px solid #218838;
  background-color: #ABD94A;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
}

.forma-pagamento-adicionada p {
  color: #218838;
  margin-bottom: 5px;
  font-size: 14px;
}

/* Estilo do botão Excluir */
.excluir-btn {
  background-color: #218838;
  color: #ABD94A;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  left: 330px;
  top: 50%;
  transform: translateY(-50%);
}

.excluir-btn:hover {
  background-color: #4CAF50;
}


  
  


