@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

a {
  color: #218838;
  text-decoration: none;
}
/*NAVBAR*/

nav {
  background: #abd94a;
  width: 98%;
  padding: 4px 1%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo-lightapple {
  flex-shrink: 0;
  width: 75px;
  height: 75px;
  position: relative;
  object-fit: cover;
  padding-left: 1px;
}
.lightapple-titulo {
  color: #287326;
  text-align: left;
  font-family: "Ribeye-Regular", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  width: 296px;
  padding-left: 15px;
}
.inicio {
  color: #287326;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.empresa-coleta {
  color: #287326;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.trocar-pontos {
  color: #287326;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.pedidos {
  color: #287326;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
#pesquisar {
  border-radius: 6px;
  border-style: solid;
  border-color: #287326;
  border-width: 2px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 200px;
  margin-right: 26px;
  position: relative;
}

.user-menu {
  position: relative;
}

.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 40px;
}

nav ul {
  flex-grow: 1;
  display: flex;
  justify-content: center; 
  list-style: none;
  padding-left: 115px;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/*DROPDOWN PERFIL*/

.sub-menu-wrap {
  position: absolute;
  top: 120%;
  right: 0; 
  width: 250px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  z-index: 10; 
}

.sub-menu-wrap.open-menu {
  max-height: 600px;
}

.sub-menu {
  background: #fff;
  border: 1px solid #287326;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  margin-top: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info h3 {
  color: #287326;
}

.sub-menu hr {
  margin: 8px 0px 0px 0px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #287326;
  margin: 15px 0;
}

.sub-menu-link p {
  flex-grow: 1;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

/*DROPDOWN CRIAR PEDIDO*/

.pedido-menu {
  position: relative;
}

.ped-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 40px;
}

.sub-menu-ped-wrap {
  position: absolute;
  top: 120%;
  right: 0; 
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  z-index: 10; 
}

.sub-menu-ped-wrap.open-menu-ped {
  max-height: 1000px;
}

.sub-menu-ped {
  background: #fff;
  border: 1px solid #287326;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  margin-top: 10px;
}

.ped-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ped-info img {
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.ped-info h3 {
  color: #287326;
}

#criar-pedido-form {
  margin-top: 20px;
}

#criar-pedido-form label {
  display: block;
  color: #287326;
  margin-bottom: 10px;
}


#criar-pedido-form input[type="text"], #criar-pedido-form input[type="number"] {
  width: 90%;
  height: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border:  1px solid #287326;
}

#criar-pedido-form select {
  width: 99%;
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border:  1.5px solid #287326;
}


#criar-pedido-btn {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#criar-pedido-btn:hover {
  background-color: #3e8e41;
}

/*SECTION TXT*/
.section-txt,
.section-txt * {
  box-sizing: border-box;
}
.section-txt {
  background: #ffffff;
  height: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 30px;
}

.meus_cupons {
  color: #218838;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding-top: 18px;
}


/*FILTRO E EMPRESA DE COLETA*/

/* Estilos gerais do corpo */

/* Estilos do main para organizar o layout */
main {
  display: flex;
  padding: 20px;
}

/* Estilos do filtro (accordion) */
.accordion {
  width: 255px; /* Largura do filtro à esquerda */
  margin-right: 20px; /* Espaço entre o filtro e a grid de produtos */
}

.accordion-item {
  border: 1px solid #218838;
  color: #218838;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.accordion-header {
  padding-bottom: 10px;
}

.accordion-button {
  font-weight: bold;
  color: #333;
}

.accordion-body .form-check {
  margin-bottom: 10px;
}

.form-check-input {
  margin-right: 10px;
}

.form-check-label i {
  margin-right: 5px;
}

#flitersearch {
  border-radius: 6px;
  border-style: solid;
  border-color: #287326;
  border-width: 2px;
  padding: 8px;
  width: 255px;
  margin:  0px 0px 17px 0px;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type="date"] {
    border-radius: 3px;
  border-style: solid;
  border-color: #287326;
  color: #218838;
  width: 105px;
  height: 20px;
}

/* Produtos em grid de 3 colunas */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de produtos */
  gap: 20px; /* Espaço entre os produtos */
  flex-grow: 1; /* Faz a grid expandir para ocupar o espaço disponível */
}

/* Estilos individuais dos produtos */
.product {
  position: relative;
  border: 1px solid #218838;
  border-radius: 10px;
  background-color: #abd94a;
  color: #218838;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

/* Estilo ao passar o mouse sobre o produto */
.product:hover {
  transform: scale(1.05); /* Aumenta o tamanho do produto ao passar o mouse */
}

/* Estilos das imagens dos produtos */
.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Estilos dos títulos e preços dos produtos */
.product h3 {
  font-size: 18px;
  margin: 6px 0;
}

.product p {
  font-size: 16px;
  color: #218838;
  margin: 10px 0;
}

.star {
  color: #218838;
}

.info {
  position: absolute;
  top: 80%;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 #218838;
  transition: transform 0.3s ease, color 0.3s ease;
}

.pagination {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 25px;        /* Espaçamento entre a grid de produtos e a paginação */
  margin-bottom: 45px;     /* Espaçamento da paginação para o final da página */
  padding-left: 19%;
}
button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

button.active {
  background-color: #218838;
  color: #abd94a;
}

button[disabled] {
  background-color: #fff;
  cursor: not-allowed;
}


/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  main {
      flex-direction: column; /* Coloca o filtro acima dos produtos em telas pequenas */
  }

  .accordion {
      width: 100%;
      margin-bottom: 20px;
  }

  .products-grid {
      grid-template-columns: repeat(2, 1fr); /* Reduz a grid para 2 colunas em telas menores */
  }
}

@media (max-width: 480px) {
  .products-grid {
      grid-template-columns: 1fr; /* Em telas bem pequenas, usa apenas 1 coluna */
  }
}


/*FOOTER*/

.footer,
.footer * {
  box-sizing: border-box;
}
.footer {
  background: #abd94a;
  height: 290px;
  position: relative;
  overflow: hidden;
}
.light-apple-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 36px;
  top: 30px;
  object-fit: cover;
}
.copy-2024-light-apple {
  color: #287326;
  text-align: center;
  font-family: "Roboto-Black", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 900;
  position: absolute;
  left: 660px;
  top: 246px;
}
.box-social {
  width: 223px;
  height: 59px;
  position: absolute;
  left: 1176px;
  top: 34px;
  overflow: hidden;
}
.twitter {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 14px;
  top: 14px;
  overflow: visible;
}
.instagram {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 68px;
  top: 14px;
  overflow: visible;
}
.facebook {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 122px;
  top: 14px;
  overflow: visible;
}
.linkedin {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 176px;
  top: 14px;
  overflow: visible;
}
.box-info {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 217px;
  height: 154px;
  position: absolute;
  left: 211px;
  top: 34px;
}
.titulo-lightapple {
  padding: 0px 0px var(--var-sds-size-space-400, 16px) 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.titulo-txt {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tt3 {
  color: #287326;
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
}
.sobre {
  flex-shrink: 0;
  width: 89px;
  height: 22px;
  position: relative;
}
.txt-sobre {
  color: #287326;
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 49.44%;
  left: 0%;
  width: 50.56%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fale-conosco {
  flex-shrink: 0;
  width: 89px;
  height: 22px;
  position: relative;
}
.txt-fale-conosco {
  color: #287326;
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -15.73%;
  left: 0%;
  width: 115.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.termos-de-uso {
  flex-shrink: 0;
  width: 89px;
  height: 22px;
  position: relative;
}
.txt-termos {
  color: #287326;
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: -29.21%;
  left: 0%;
  width: 129.21%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}