@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

a {
  color: #218838;
  text-decoration: none;
}

/*SECTION MINIMENU*/
.section-minimenu,
.section-minimenu * {
  box-sizing: border-box;
}

.section-minimenu {
  height: 422px;
  margin-left: 7%;
  position: relative;
  overflow: hidden;
}

.box-estabelecimentos {
  background: #abd94a;
  border-radius: 5px;
  width: 325px;
  height: 289px;
  position: absolute;
  left: 43px;
  top: 67px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.box-estabelecimentos:hover {
  transform: scale(1.1);
}

.estabelecimentos {
  width: 125px;
  height: 122.06px;
  position: absolute;
  left: 100px;
  top: 40px;
  object-fit: cover;
}

.txtestabelecimentos {
  color: #287326;
  text-align: center;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: absolute;
  left: 44px;
  top: 205px;
  width: 177px;
}

.box-pedidos {
  background: #abd94a;
  border-radius: 5px;
  width: 325px;
  height: 289px;
  position: absolute;
  left: 437px;
  top: 67px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.box-pedidos:hover {
  transform: scale(1.1);
}

.pedido {
  width: 125px;
  height: 125px;
  position: absolute;
  left: 100px;
  top: 43px;
  object-fit: cover;
}

.txtpedidos {
  color: #287326;
  text-align: center;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: absolute;
  left: 108px;
  top: 214px;
}

.box-historico {
  background: #abd94a;
  border-radius: 5px;
  width: 325px;
  height: 289px;
  position: absolute;
  left: 831px;
  top: 67px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.box-historico:hover {
  transform: scale(1.1);
}

.historico{
  width: 115px;
  height: 122.6px;
  position: absolute;
  left: 105px;
  top: 52px;
  object-fit: cover;
}

.txthistorico {
  color: #287326;
  text-align: center;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: absolute;
  left: 100px;
  top: 220px;
}

/*SECTION EMPRESA DE COLETA*/

.section-empresa-coleta,
.section-empresa-coleta * {
  box-sizing: border-box;
}

.section-empresa-coleta {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  height: 690px;
  position: relative;
  overflow: hidden;
}

.box-empresadecoleta {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.tt {
  color: #287326;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}

.desc {
  color: #287326;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

/*CARDS PARA EMPRESA DE COLETA E TROCA DE PONTO*/

.empresas {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.emp-coleta {
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  width: 55em;
}

.emp-coleta>.box-cards {
  display: flex;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
}

.card {
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
}

.card>img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  display: block;
  width: 17.5em;
}

.card>.texto {
  background: #abd94a;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1em;
  text-align: center;
}

.card>.texto>h1,
.card>.texto>h3 {
  margin: 0.35em 0;
}

.card>.texto>h1 {
  color: #218838;
  font-size: 1.25rem;
  line-height: 1;
}

.map {
  margin-top: 1em;
}

.map>button {
  all: unset;
  background: #abd94a;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}

.map>button.active:after {
  background: #218838;
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 100%;
  height: 0.5em;
  width: 0.5em;
}

.btn-vermais {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background: #abd94a;
  border-radius: 8px;
  padding: 12px;
  align-items: center;
  justify-content: center;
  width: 240px;
  color: #287326;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-color: #218838;
}

/*SECTION PEDIDOS LISTAS*/

.PedDisp {
  margin-top: 4%;
}

/* Centraliza o container */
.container {
  width: 80%;
  margin: 0 auto;
  /* Centraliza horizontalmente */
  text-align: center;
  /* Centraliza o texto */
  padding: 20px;
}


.pedidos-lista {
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  padding: 10px 0;
}

.pedidoNum {
  min-width: 220px;
  background-color: #abd94a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  flex-shrink: 0;
}

.pedidoNum h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: #218838;
}

.pedidoNum p {
  margin: 5px 0;
  color: #218838;
}

.botoes {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button.recebido {
  background-color: #287326;
  color: white;
}

/* Efeito de hover nos botões */
button:hover {
  opacity: 0.8;
}

#no-available-orders {
  color: #218838;
  font-weight: bold;
}

.ttped {
  margin-bottom: 2%;
  color: #287326;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
